html {
  font-size: 16px;
}

html,
body,
* {
  font-family: monospace;
}

code {
  @apply bg-gray-500 rounded p-1 text-white;
}

.raw-editor-root {
  @apply flex flex-col gap-6 items-center justify-center select-none;
}

.element {
  outline: none;
}
.outlined {
  outline: thin dashed cyan;
}

pre,
code {
  font-size: inherit;
}
