html {
  font-size: 16px;
}

html,
body,
* {
  font-family: monospace;
}

.raw-editor-root {
  @apply flex flex-col gap-6 items-center justify-center select-none;
}

.element {
  outline: none;
}
.outlined {
  outline: thin dashed cyan;
}

pre,
code {
  font-size: inherit;
}

pre {
  @apply bg-gray-700 text-white rounded p-1 my-3;
  border: 1px dashed white;
  padding: 12px;
  line-height: 1.5rem;
  cursor: pointer;
  opacity: 0.4;
  & > code {
    all: unset;
    background: none !important;
    padding: none;
    margin: none;
    line-height: normal;
  }
}
