html {
  font-size: 16px;
}

html,
body,
* {
  font-family: monospace;
}

code {
  @apply bg-slate-500 rounded-lg py-0.5 px-1 text-white;
}

.raw-editor-root {
  @apply flex flex-col gap-6 items-center justify-center select-none;
}

.element {
  @apply border border-dashed border-transparent;
  &.selected {
    @apply border-gray-100;
  }
}

pre,
code {
  font-size: inherit;
}
