@tailwind base;
@tailwind components;
@tailwind utilities;

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-source-sans-pro {
  font-family: "Source Sans Pro", sans-serif;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

.font-playfair-display {
  font-family: "Playfair Display", serif;
}

.font-merriweather {
  font-family: "Merriweather", serif;
}

.font-courier-prime {
  font-family: "Courier Prime", monospace;
}

.font-fira-code {
  font-family: "Fira Code", monospace;
}

.font-inconsolata {
  font-family: "Inconsolata", monospace;
}

.font-ibm-plex-mono {
  font-family: "IBM Plex Mono", monospace;
}

.font-pt-serif {
  font-family: "PT Serif", serif;
}

.font-crimson-text {
  font-family: "Crimson Text", serif;
}

.font-arvo {
  font-family: "Arvo", serif;
}

.font-zilla-slab {
  font-family: "Zilla Slab", serif;
}

.font-space-mono {
  font-family: "Space Mono", monospace;
}

.font-cabin {
  font-family: "Cabin", sans-serif;
}
